@import "frappe.css";

* {
    border-radius: 0;
    border: 0;
    font-family: JetBrainsMono Nerd Font;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 14px;
    min-height: 0;
    /* border: 10px solid transparent;
    border-image: url(~/.config/sway/borders/dropShadowDarkOffset2.png) 30 stretch; */
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
	background: @surface0;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: @overlay1;
}

#workspaces button {
    padding: 5px 10px;
    margin-right: 3px;
    margin-left: 3px;
    color: @text;
}

#workspaces button.focused {
    box-shadow: 2px 2px 6px 1px black;
    color: @subtext2;
    background-color: @peach;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: @text;
    background-color: @red;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: @maroon;
	color: @text;
	border-radius: 5px;
}

#clock, #battery, #pulseaudio, #network, #workspaces, #temperature, #custom-vpn, #idle_inhibitor, #custom-bt {
	background-color: @base;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-bt {
  padding: 5px;
}

#workspaces {
	background-color: @transparent;
	border-radius: 15px 0px 0px 15px;
}

#clock {
  color: @mauve;
	border-radius: 0px 15px 15px 0px;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @maroon;
}

#network {
	color: @yellow;
}

#pulseaudio {
	color: @blue;
}

#temperature {
	color: @maroon;
}

#idle_inhibitor {
	color: @text;
  padding-left: 15px;
  padding-right: 15px;
	border-radius: 15px 0px 0px 15px;
}

#custom-vpn {
    color: @red;
}

#custom-bt {
    color: @sapphire;
}
