* {
    border-radius: 0;
    font-family: Hack;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 14px;
    min-height: 0;

    /* border: 10px solid transparent;
    border-image: url(~/.config/sway/borders/dropShadowDarkOffset2.png) 30 stretch; */
}

window#waybar {
    padding: 0px;
    background: #2a2e38;
    color: white;
}

tooltip {
	background: #2a2e38;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #2a2e38;
}

#workspaces button {
    padding: 4px 10px;
    color: #bbc2cf;
    margin: 3px;
    font-size: 12px;
}

#workspaces button.focused {
    box-shadow: 2px 2px 6px 1px black;
    color: #2a2e38;
    background-color: #51afef;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #2a2e38;
    background-color: #7bc275;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #5cEfFF;
	color: #2a2e38;
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #network, #workspaces, #temperature, #custom-vpn, #idle_inhibitor {
	background-color: #2a2e38;
	padding: 1px 10px;
	margin: 0px 0px;
}

#workspaces {
	background-color: #2a2e38;
	border-radius: 15px 0px 0px 15px;
}

#clock {
    color: #FCCE7B;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery {
    color: #7bc275;
}

#battery.charging {
    color: #7bc275;
}

#battery.warning:not(.charging) {
    background-color: #2a2e38;
    color: #FCCE7B;
}

#network {
	color: #C57BDB;
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: #4db5bd;
}

#temperature {
	color: #D08770;
}

#idle_inhibitor {
	color: #ECEFF4;
}

#custom-vpn {
    color: #BF616A;
}
#custom-bt {
    color: #88C0D0;
}
